<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success-Screen</title>

    <link rel="stylesheet" href="/style/main.css"> <!--Tag que fará o "Uses" no meu arquivo CSS-->
    <link rel="stylesheet" href="/style/partials/header.css"> <!--Tag que fará o "Uses" no meu arquivo CSS-->
    <link rel="stylesheet" href="/style/partials/forms.css"> <!--Tag que fará o "Uses" no meu arquivo CSS-->    

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body>
    <div id="screen-success">
        <img src="/images/success-background.svg" alt="success-background">
        <div id = "group">
            <img src="/images/icons/success-check-icon.svg" alt="success-check">    
            <h1>
                Cadastro salvo!
            </h1>
            <p>
                Tudo certo! Seu cadastro está na nossa lista de professores <br> Agora é só ficar de olho nos seu whatsapp.
            </p>
        </div>
    </div>
</body>
</html>